*{
    box-sizing: border-box;
}
body{
    margin: 0;
    /* height: 100vh; */
}

header{
    padding: 0 15%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-container{
    padding: 0 15%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.book-card{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 15px 0;
}
.add-book{
    justify-self: center;
    align-self: center;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #d1d5db;
    min-height: 88vh;
    padding: 20px 0;
}
p{
    font-size: 1.3rem;
    margin: 0;
}